include ./__branding/header__branding 
include ./__menu/header__menu 
include ./__right_block/header__right_block

-var authorised = false

mixin header()
    div(class='header')
        +header-branding()
        +menu(0, {title: "Главная"},{title: "Каталог", isSub: true},{title: "Новости"},{title: "О проекте"})
        +right_block(authorised)